@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500&family=Rubik&display=swap');


* {
    padding: 0;
    margin: 0;
    font-family: 'Playfair Display', serif;
    font-family: 'Rubik', sans-serif;
    overflow-x: hidden;
}

.first {
    background-image: url(../img/main.jpg);
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: top -160px left 48px;
    
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header .logo h2 {
    color: white;
    margin: 20px;
    font-size: 28px;
}

.header .logo h2 span {
    color: rgb(129, 23, 23);
}

.links nav ul li {
    margin: 20px 0;
}

.links nav ul li a {
    padding: 0 20px;
    color: white;
    text-decoration: none;
    font-size: 20px;
    transition: 0.5s
}

.links nav ul:hover li a {
    transform: scale(1.5);
    opacity: 0.2;
    filter: blur(0.6px);
}

.links nav ul li a:hover {
    transform: scale(2);
    opacity: 1;
    filter: blur(0);
    text-decoration: none;
    color: rgb(129, 23, 23);
}

.MessageMe button {
    margin: 18px;
    width: 125px;
    height: 40px;
    padding: 10px;
    background-color: rgb(129, 23, 23);
    color: white;
    border-radius: 28px;
    border: 1px solid rgb(129, 23, 23);
    font-size: 16px;
    overflow: hidden;
    transition: transform .3s;
}

.MessageMe button:hover,.introduction button:hover ,.contactMe button:hover{
    transform: scale(1.1);
    overflow: hidden;
}

.introduction {
    position: absolute;
    color: white;
    padding: 20px;
    /* border: 2px solid white; */
    top: 150px;
    left: 44px;
    font-family: 'Playfair Display', serif;
    font-family: 'Rubik', sans-serif;
}

.introduction h4 {
    margin: 20px 0 -10px 20px;
    font-size: 28px;
    letter-spacing: 3.5px;
}

.introduction h1 {
    margin: 0px 0 5px 20px;
    font-size: 108px;
    letter-spacing: 1px;
}

.introduction h1 span {
    color: rgb(129, 23, 23);
}

.introduction h3 {
    margin: 20px 0px 20px 20px;
    font-size: 42px;
    letter-spacing: 1px;
    float: left;
}



.introduction button,.contactMe button{
    margin: 27px 0 0 16px;
    width: 125px;
    height: 40px;
    padding: 10px;
    background-color: rgb(129, 23, 23);
    color: white;
    border-radius: 28px;
    border: 1px solid rgb(129, 23, 23);
    font-size: 16px;
    overflow: hidden;
    transition: transform .3s;
}

.introduction button a,.contactMe a,.MessageMe a{
    text-decoration: none;
    color: white;
    display: block;
    overflow: hidden;
}

.second{
    height: 75vh;
    width: 100vw;
    background-color: rgb(22, 22, 22);
}

.pictureContainer{
    position: absolute;
    width: 50%;
    height: 100%;
    float: left;
    /* border: 1px solid white; */
}

.myImage{
    position: relative;
    width: 404px;
    background-color: rgb(129, 23, 23);
    padding: 5px;
    top: 61px;
    left: 187px;
}

.myImage img{
    width: 400px;
    height: 400px;
    
}

.aboutMe{
    position: relative;
    width: 50%;
    height: 100%;
    padding: 30px 50px 50px 30px;
    box-sizing: border-box;
    left: 751px;
    /* border: 2px solid rgb(129, 23, 23); */
    overflow: hidden;
}

.aboutMe h1{
    font-size: 75px;
    color: white;
    padding: 30px 20px 20px 20px;
    text-align: center
}

.aboutMe h3{
    font-size: 35px;
    color: white;
    padding: 30px 0 0 0;
}

.aboutMe h3 span{
    color: rgb(129, 23, 23);
}

.aboutMe p{
    padding: 40px 0px 0px 0px;
    font-size: 20px;
    line-height: 40px;
    color: rgb(221, 113, 248);
}

.services{
    background-color: #000000;
    width: 100%;
    padding: 60px 0;
}

.title h1{
    color: white;
    font-size: 75px;
    text-align: center;
    margin: 30px auto;
}

.box{
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid white; */
    min-height: 400px;
}

.card{
    width: 300px;
    height: 320px;
    padding: 20px 35px;
    background-color: #191919;
    border-radius: 20px;
    margin: 15px;
    /* text-align: center; */
    overflow: hidden;
}

.card i{
    font-size: 50px;
    color: rgb(129, 23, 23);
    margin: 20px 0;
}

.card h5{
    color: white;
    font-size: 23px;
    margin-bottom: 20px;
}

.pra p{
    color: rgb(221, 113, 248);
    font-size: 16px;
    line-height: 25px;
    margin-bottom: 25px;
}

.contactMe{
    width: 100%;
    height: 290px;
    background-color: rgb(22, 22, 22);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contactMe p{
    color: white;
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 25px;
}
/* 
.btn{
    margin: 27px 0 0 16px;
    width: 125px;
    height: 40px;
    padding: 10px 0 0 20px;
    background-color: rgb(129, 23, 23);
    color: white;
    border-radius: 28px;
    border: 1px solid rgb(129, 23, 23);
    font-size: 18px;
    transition: transform .3s;
}
.btn:hover{
    transform: scale(1.1);
}

.contactMe a{
    text-decoration: none;
    
} */

footer{
    width: 100%;
    height: 300px;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer p:nth-child(1){
    font-size: 30px;
    color: white;
    margin-bottom: 20px;
    font-weight: bold;
}

footer p:nth-child(2){
    font-size: 17px;
    color: white;
    width: 500px;
    text-align: center;
    line-height: 26px;
}

.social{
    display: flex;
    transform: .3s;
}

.social a{
    /* width: 45px;
    height: 45px; */
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(129, 23, 23);
    border-radius: 7px;
    margin: 22px 10px;
}
